html,body {
  font-family: Verdana, sans-serif;
  font-size: 11pt;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-size: 11pt;
}

h2 {
  color: #336699;
  font-size: 18pt;
  text-align: center;
}
/* adapted from https://css-tricks.com/examples/hrs/ */
hr { 
  border: 0; 
  height: 2px; 
  background: #336699; 
  background-image: linear-gradient(to right, #99ccff, #336699, #99ccff); 
}


.map {
  bottom:0;
  height: 100%;
  width: 100%;
  left: 50px;
  position: absolute;
  right: 0;
  z-index: 1;
  overflow-x: scroll;
}

.listing-box {
  background: #fff;
  height: 100%;
  line-height: 35px;
  padding: 1px 1px 1px 1px;
  text-align: left;
  transition: transform 0.2s;
  min-width: 200px;
  overflow-y: scroll;
}

.searchNeighborhood {
  width: 75%;
}

/*https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/
@media only screen and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .listbtn {font-size: 10pt;}
}